body {
	background-image: url("background.jpg");
	min-height: 500px;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

h1 {
	color: #8B1C62;
}

p {
	font-family: Sans-serif;
}

.main {
	background-color: rgba(255, 255, 255, 0.75);
	border-radius: 15px;
	margin-left: 10%;
	margin-right: 10%;
	padding: 10px 20px 10px 20px;
	display: block;
}

.footer {
	background-color: rgba(255, 255, 255, 0.3);
	border-radius: 15px;
	padding: 5px;
	display: flex;
	justify-content: center;
}

.footer a {
	padding: 0px 15px 0px 15px;
	color: blue;
	text-decoration: none;
	text-align: center;
	vertical-align: center;
}