@import 'mediaquery';

$sidebar-photo-size: 200px;

$section-body-radius: 5px;
$default-padding: 24px;

$section-header-font-size: 24px;
$section-subheading-font-size: 20px;
$section-body-font-size: 16px;
$default-font: 'Source Sans Pro', sans-serif;
$sidebar-name-font: 'Roboto Slab', serif;

body {
    font-family: $default-font;
    margin: 0;
    display: flex;
}

.sidebar {
    text-align: center;
    z-index: 1;
    background-color: #FFC3D0;
    box-shadow: 1px 0px 20px -2px rgba(0, 0, 0, 0.3);

    &__wrapper {
        > div {
            margin: $default-padding;
        }
    }

    &__photo {
        margin: $default-padding auto !important;
        width: $sidebar-photo-size;
        height: $sidebar-photo-size;
        overflow: hidden;
        border: 5px solid white;
        border-radius: 100%;

        &__img {
            height: 100%;
        }
    }

    &__heading {
        font-family: $sidebar-name-font;
    }

    &__menu {
        &__item {
            a {
                color: black;
                text-decoration: none;
            }

            a:hover {
                font-weight: 600;
            }
        }
    }

    &__links {

        a {
            padding: $default-padding / 4;
            text-decoration: none;
        }
    }
}

.main {
    // background image
    background-image: url('../background.jpg'); // #F5EDE0
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    .section {
        padding: ($default-padding / 2) $default-padding;

        &:first-child {
            padding-top: $default-padding;
        }

        &:last-child {
            padding-bottom: $default-padding;
        }

        p {
            font-size: $section-body-font-size;
            margin: 0;

            &:not(:last-child) {
                margin-bottom: $section-body-font-size;
            }
        }

        ul {
            margin: 0;
        }

        &--header {
            color: #422C0A;
            text-transform: uppercase;
            font-size: $section-header-font-size;
            font-weight: bold;
            letter-spacing: 3px;
            padding-left: $default-padding / 2;
            padding-bottom: $default-padding / 4;
        }

        &--body {
            background-color: rgba(255, 255, 255, 0.6);
            padding: $default-padding;
            border-radius: $section-body-radius;
        }
    }
}

.project {
    &__item {
        &:not(:last-child) {
            padding-bottom: $default-padding;
        }

        &__title {
            font-size: $section-subheading-font-size;
            font-weight: bold;
        }

        &__skills {
            font-style: italic;
        }

        &__description {}

        &__link {}
    }
}