@mixin small-phone {
  @media (max-width: #{$phone-width - 1}) {
    @content;
  }
}

@mixin phablet {
  @media (min-width: #{$phablet-width}) and (max-width: #{$tablet-width - 1px}) {
    @content;
  }
}

@mixin phablet-and-larger {
  @media (min-width: #{$phablet-width}) {
    @content;
  }
}

@mixin tablet-and-larger {
  @media (min-width: #{$tablet-width}) {
    @content;
  }
}

@mixin desktop-and-larger {
  @media (min-width: #{$desktop-width}) {
    @content;
  }
}

// @mixin large-screen {
//   @media (min-width: #{$large-width}) {
//     @content;
//   }
// }
