@mixin section-title {
  color: $color-grey-900;
  letter-spacing: 5px;
  text-align: center;
  margin-top: $spacing-xsmall;
  margin-bottom: $spacing-section-xsmall;
  font-size: $font-size-header-default;
  font-weight: $font-weight-bold-2;
}

@mixin button-light($hover: true) {
  color: $color-green-700;
  background-color: $color-green-300;
  border-radius: $border-radius-default;
  @if $hover {
    &:hover {
      background-color: $color-green-400;
      cursor: pointer;
    }
  }
}

@mixin button-dark {
  color: $color-grey-100;
  background-color: $color-green-500;
  border-radius: $border-radius-default;
  &:hover {
    background-color: $color-green-600;
    cursor: pointer;
  }
}

@mixin general-project-card() {
  background-color: $color-component-bg;
  border-radius: $border-radius-default;
  box-shadow: 0 0 0 3px $color-green-500;
}

@mixin cover-with-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}