// COLOURS

// Greys
$color-grey-100: #fbfbfb;
$color-grey-200: #e3e7de;
$color-grey-300: #c0c9b5;
$color-grey-400: #889479;
$color-grey-500: #656d5b;
$color-grey-600: #3f423a;
$color-grey-700: #2b2c29;
$color-grey-800: #151614;
$color-grey-900: #0e0e0e;
// Greens
$color-green-100: #fbfff5;
$color-green-200: #e2ffc1;
$color-green-300: #aee86a;
$color-green-400: #83cf2a;
$color-green-500: #6cb002;
$color-green-600: #498700;
$color-green-700: #344d0b;
$color-green-800: #1c2b04;
$color-green-900: #0e1a04;

// Designated Colours
$color-project-shadow: $color-green-500;
$color-component-bg: $color-green-100;
$color-button-green-bg: $color-green-300;
$color-button-green-text: $color-green-700;

// Shadow Colours
$shadow-green-700-25: #344d0b40;
$shadow-green-900-40: #0e1a0466;


// OTHER
$border-radius-default: 8px;
$border-radius-button: 12px;
