// COLOURS

// Greys
$color-grey-100: #f9f7eb;
$color-grey-200: #d9d6c5;
$color-grey-300: #adaa9b;
$color-grey-400: #817f75;
$color-grey-500: #595752;
$color-grey-600: #3f3d39;
$color-grey-700: #242321;
$color-grey-800: #191816;
$color-grey-900: #100f0e;
// Yellows
$color-yellow-100: #fdfcef;
$color-yellow-200: #fff9d3;
$color-yellow-300: #fdee9e;
$color-yellow-400: #f5d74e;
$color-yellow-500: #e9ad1d;
$color-yellow-600: #cf8b08;
$color-yellow-700: #7c4d0b;
$color-yellow-800: #3d2404;
$color-yellow-900: #1d1204;
// Greens
$color-green-100: #f9fff1;
$color-green-200: #e9ffd0;
$color-green-300: #aee86a;
$color-green-400: #83cf2a;
$color-green-500: #6cb002;
$color-green-600: #548c0c;
$color-green-700: #344d0b;
$color-green-800: #1c2b04;
$color-green-900: #0e1a04;

// Designated Colours
$color-project-shadow: $color-green-500;
$color-project-card: $color-green-100;

// Shadow Colours - need to change
$shadow-lighter: #3a3f4140; // 25% opacity
$shadow-darker: #20232466; // 40% opacity


// OTHER
$border-radius-default: 8px;
$border-radius-button: 12px;




