// COLOURS
// Greys
$color-grey-100: #fbfbfb;
$color-grey-200: #e3e7de;
$color-grey-300: #c0c9b5;
$color-grey-400: #889479;
$color-grey-500: #656d5b;
$color-grey-600: #3f423a;
$color-grey-700: #2b2c29;
$color-grey-800: #151614;
$color-grey-900: #0e0e0e;
// Greens
$color-green-100: #fbfff5;
$color-green-200: #ebffd5;
$color-green-300: #d0f5a6;
$color-green-400: #a3e259;
$color-green-500: #7bbf10;
$color-green-600: #498700;
$color-green-700: #344d0b;
$color-green-800: #1c2b04;
$color-green-900: #0e1a04;
// Colours with Opacity
$color-green-700-25: #344d0b40;
$color-green-900-40: #0e1a0466;
$color-grey-100-75: #fbfbfbbf;

// FONT SIZES
// Standard Sizes
$font-size-xsmall: 0.75rem; // 12px
$font-size-small: 0.875rem; // 14px
$font-size-default: 1rem; // 16px
$font-size-large: 1.125rem; // 18px
// Header Sizes
$font-size-header-xsmall: 1.375rem; // 22px
$font-size-header-small: 1.5rem; // 24px
$font-size-header-default: 1.75rem; // 28px
$font-size-header-large: 2.25rem; // 36px

// SPACING SIZES
// Standard Sizes
$spacing-xsmall: 0.25rem; // 4px
$spacing-small: 0.5rem; // 8px
$spacing-default: 0.75rem; // 12px
$spacing-large: 1rem; // 16px
// Section Sizes
$spacing-section-small: 1.5rem; // 24px
$spacing-section-default: 3rem; // 48px
$spacing-section-large: 4rem; // 64px

// BORDER RADIUS
$border-radius-default: 0.5rem; // 8px
$border-radius-extra: 2.25rem; // 36px

// MEDIA QUERIES
$phone-width: 480px;
$phablet-width: 600px;
$tablet-width: 768px;
$desktop-width: 1024px;
$large-width: 1200px;

// DESIGNATED VALUES
$color-component-bg: $color-green-100;
$project-card-spacing: $spacing-section-small;