body {
    background-color: #232A4E;
    font-family: Source Sans Pro, Helvetica, sans-serif;
}

.nav {
    display: flex;
    width: 40%;
    position: fixed;
    z-index: 5;
    top: 0;
    right: 0;
    padding: 0.5rem 1.25rem;
    background-color: #000000;
    border-bottom-left-radius: 0.5rem;
}

.nav__link {
    color: #FFFFFF;
    margin: auto;
    text-decoration: none;
}

.nav__link:hover {
    font-weight: 900;
    color: #878ABD;
}

.intro {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    background-image: url("bgimage.jpg"); /* 5x3 */
    background-size: 100%;
    background-repeat: no-repeat;
}

.intro-box {
    background-color: rgba(255, 255, 255, 0.2);
    border-top-right-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
    display: flex;
    flex-direction: column;
    width: fit-content;
    padding: 1.5rem 3rem 2rem 6rem;
    margin-top: 8rem;
    box-shadow: rgba(0, 0, 0, 0.25) 4px 4px 12px;
}

.intro-header {
    color: #FFFFFF;
    font-family: Roboto Slab, Helvetica, sans-serif;
    margin: 0;
    font-size: 6rem;
}

.intro-text {
    color: #FFFFFF;
    margin: 0;
    margin-left: auto;
    font-size: 1.25rem;
    font-style: italic;
}

.main {
    background-color: #232A4E;
    position: absolute;
    width: 100%;
    left: 0;
    top: 60vw; /* for 5x3 background image */
}

.main__section {
    padding: 1.5rem;
}

.main__section__header {
    color: #FFFFFF;
    font-family: Roboto Slab, Helvetica, sans-serif;
    font-size: 2rem;
    margin: 0;
}

.main-text {
    color: #FFFFFF;
}


/* MEDIA QUERIES */

/* default is desktop size size */

@media (max-width: 767px) {
    /* write css code here - mobile */
    .nav {
        width: 100%;
        max-width: 500px;
        left: 50%;
        transform: translateX(-50%);
        border-bottom-right-radius: 0.5rem;
        z-index: 0;
    }

    .intro {
        display: flex;
        background-size: 200%;
    }

    .intro-box {
        margin: 6rem auto 0 auto;
        height: fit-content;
        max-height: 100px;
        padding: 5rem 1.5rem;
        border-radius: 0;
    }

    .intro-header {
        font-size: 4rem;
        text-align: center;
        margin: 0;
    }

    .intro-text {
        text-align: center;
    }

    .main {
        top: 120vw; /* for 5x3 background image */
    }
}

@media (min-width: 768px) and (max-width: 1023px) {
    /* write css code here - tablet */
    .intro-box {
        margin-top: 6rem;
    }

    .intro-header {
        margin: 0;
    }
}

@media (max-width: 1023px) {
    /* write css code here - mobile and tablet */
    /* NOTE: overwrites above code */
}

@media (min-width: 1800px) {
    /* write css code here - large screen size */
    .intro-header {
        font-size: 8rem;
    }
}