$colour-page-bg: paleturquoise;
$colour-main-bg: rgb(221, 253, 253);
$colour-border-bg: rgb(107, 218, 218);
// $colour-border-bg: #2e99ab;

$border-main: 3px dashed $colour-border-bg;

$padding-default: 16px;
$padding-half: $padding-default / 2;

$font-default: 'Source Sans Pro', sans-serif;
$font-header: 'Roboto Slab', serif;

body {
    background-color: $colour-page-bg;
    font-family: $font-default;
}

.main {
    padding: $padding-default;
    width: 70%;
    max-width: 700px;
    height: 90vh;
    margin: auto;
    border-radius: 12px;
    border: $border-main;
    background-color: $colour-main-bg;
    position: relative;
    
}

.sidebar {
    left: 100%;
    position: absolute;

    & a {
        text-decoration: none;
    }

    &__item {
        width: 60px;
        padding: $padding-half $padding-default;
        border-top-right-radius: 16px;
        border-bottom-right-radius: 16px;
        background-color: turquoise;
        margin: $padding-half $padding-half $padding-half 0;
        text-align: right;
        transition: width 0.25s;
        border-left: $border-main;
        color: black;

        &:hover {
            width: 80px;
        }
    }
}

h1 {
    margin: 0;
    font-family: $font-header;
}